bucketDir                                = null

// Pipeline Parameters
params {
        hash                             = '/storage1/fs1/dspencer/Active/spencerlab/mohamed/tools_testing/dragen/test_data/hash/hg38'
        fastq1                           = '/storage1/fs1/dspencer/Active/spencerlab/mohamed/tools_testing/dragen/test_data/fastq/NA24385-AJ-Son-R1-NS_S33_L001_R1_001.fastq.gz'
        fastq2                           = '/storage1/fs1/dspencer/Active/spencerlab/mohamed/tools_testing/dragen/test_data/fastq/NA24385-AJ-Son-R1-NS_S33_L001_R2_001.fastq.gz'

        queue_cpu                        = 'timley'
        dragen_username                  = null
        dragen_password                  = null
}

 // AWS config for DHS Lab
plugins {
    id 'nf-amazon'
}
aws {
        region                            = 'us-east-1'
        batch {
                cliPath                   = '/home/centos/miniconda/bin/aws'
                volumes                   = '/dev/shm:/dev/shm'
                }
        accessKey                         = secrets.AWS_ACCESS_KEY
        secretKey                         = secrets.AWS_SECRET_KEY
}

profiles {

        ris {
            process { 
                    executor              = "lsf"
                    clusterOptions        = { "-a 'docker(${task.container})' -q timley -G compute-dspencer -g /dspencer/nextflow" }
                    withLabel: dragen {
                        clusterOptions    = { "-a 'docker(${task.container})' -q dragen-2 -G compute-dragen -g /dspencer/dragen" }
                        // clusterOptions    = { "-a 'docker(${task.container})' -q timley -G compute-dspencer -g /dspencer/dragen" } testing for command only
                        }
                        }
        }

        aws {
           process {
                     executor             = 'awsbatch'
                     queue                = 'nextflow-aws-queue'
                     withLabel: dragen {
                        ext.image         = 'ghcr.io/dhslab/docker-dragen:el7.4.2.4'
                        ext.args_license  = "--lic-server 'https://${params.dragen_username}:${params.dragen_password}@license.edicogenome.com'"
                        queue             = 'nextflow-dragen-aws-queue'
                        containerOptions  = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
                        maxErrors         = 1                
                        }
        }
        }
        hybrid {
                process {
                    executor              =    "lsf"
                    clusterOptions        =    { "-a 'docker(${task.container})' -q timley -G compute-dspencer -g /dspencer/nextflow" } 
                    withLabel: dragen {
                       executor           = 'awsbatch'
                       ext.image          = 'ghcr.io/dhslab/docker-dragen:el7.4.2.4'
                       ext.args_license   = "--lic-server 'https://${params.dragen_username}:${params.dragen_password}@license.edicogenome.com'"
                       queue              = 'nextflow-dragen-aws-queue'
                       containerOptions   = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
                       maxErrors          = 1                
                        }
        }
        }
}